<div class="card shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <label class="text">Tema</label>
      <div class="form-row">
        <div class="form-group col-md-12">
          <input
            type="text"
            placeholder="Insira o Tema"
            [ngClass]="formHelper.cssValidator(formControls.tema)"
            class="form-control"
            formControlName="tema"
          >
          <div *ngIf="formControls.tema.errors?.required" class="invalid-feedback">
            Required field.
          </div>

          <div *ngIf="formControls.tema.errors?.minlength" class="invalid-feedback">
            Minimum length 4 caracters.
          </div>

          <div *ngIf="formControls.tema.errors?.max" class="invalid-feedback">
            Max length 50 caracters.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="formHelper.cssValidator(formControls.local)"
            formControlName="local"
          >
          <div class="invalid-feedback">
            Required field.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="formHelper.cssValidator(formControls.dataEvento)"
            formControlName="dataEvento"
            value="{{evento?.dataEvento | dateTimeFormat}}"
            bsDatepicker
            [bsConfig]="{
              adaptivePosition: true,
              dateInputFormat: 'DD/MM/YYYY hh:mm a',
              containerClass: 'bg-dark text-light',
              showWeekNumbers: false
            }"
          >
          <div class="invalid-feedback">
            Required field.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Quantidade Pessoas</label>
          <input
            type="text"
            class="form-control"
            placeholder="99999"
            [ngClass]="formHelper.cssValidator(formControls.qtdPessoas)"
            formControlName="qtdPessoas"
          >
          <div *ngIf="formControls.qtdPessoas.errors?.required" class="invalid-feedback">
            Required field.
          </div>
          <div *ngIf="formControls.qtdPessoas.errors?.max" class="invalid-feedback">
            Shouldn't greater than 120000.
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input
            type="phone"
            class="form-control"
            placeholder="(000) 90000-0000"
            [ngClass]="formHelper.cssValidator(formControls.telefone)"
            formControlName="telefone"
          >
          <div class="invalid-feedback">
            Required field.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="e-mail"
            [ngClass]="formHelper.cssValidator(formControls.email)"
            formControlName="email"
          >
          <div *ngIf="formControls.email.errors?.required" class="invalid-feedback">
            Required field.
          </div>
          <div *ngIf="formControls.email.errors?.email" class="invalid-feedback">
            Invalid format.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="formHelper.cssValidator(formControls.imagemURL)"
            formControlName="imagemURL">
          <div class="invalid-feedback">
            Required field.
          </div>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <div>
        <button
          class="btn btn-primary col-lg-2 m-1"
          [disabled]="!form.valid"
          (click)="salvarAlteracao()"
        >
          Salvar
        </button>
        <button
          *ngIf="eventoId"
          type="button"
          class="btn btn-secondary col-lg-2 m-1"
          (click)="abrirModalLotes()"
        >
          Novo Lote
        </button>
        <button class="btn btn-warning col-lg-2 m-1"
        (click)="formHelper.resetForm(form)">
          Limpar
        </button>
        <button
          class="btn btn-danger col-lg-2 m-1"
          (click)="modalExcluirEvento($event, template, evento)"
        >
        Excluir
      </button>
      </div>
    </div>
  </form>
</div>

<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir esse evento</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

<div *ngIf="eventoId">
  <app-lotes [eventoId]="eventoId"></app-lotes>
</div>

<br>
