<div class="card shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <label class="text">Tema</label>
        <div class="form-row">
        <div class="form-group col-md-12">
          <input
            type="text"
            [ngClass]="validators.cssValidator(formControls.tema)"
            class="form-control"
            formControlName="tema"
            placeholder="Insira o Tema"
          >
          <div *ngIf="formControls.tema.errors?.required" class="invalid-feedback">
            Required field.
          </div>

          <div *ngIf="formControls.tema.errors?.minlength" class="invalid-feedback">
            Minimum length 4 caracters.
          </div>

          <div *ngIf="formControls.tema.errors?.max" class="invalid-feedback">
            Max length 50 caracters.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="validators.cssValidator(formControls.local)"
            formControlName="local"
            placeholder=""
          >
          <div class="invalid-feedback">
            Required field.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="validators.cssValidator(formControls.dataEvento)"
            formControlName="dataEvento"
            bsDatepicker
            value="{{evento?.dataEvento | dateTimeFormat}}"
            [bsConfig]="{
              adaptivePosition: true,
              dateInputFormat: 'DD/MM/YYYY hh:mm a',
              containerClass: 'bg-primary text-light',
              showWeekNumbers: false
            }"
            tooltip=""
          >
          <div class="invalid-feedback">
            Required field.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Quantidade Pessoas</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="validators.cssValidator(formControls.qtdPessoas)"
            formControlName="qtdPessoas"
            placeholder=""
          >
          <div *ngIf="formControls.qtdPessoas.errors?.required" class="invalid-feedback">
            Required field.
          </div>
          <div *ngIf="formControls.qtdPessoas.errors?.max" class="invalid-feedback">
            Shouldn't greater than 120000.
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input
            type="phone"
            class="form-control"
            [ngClass]="validators.cssValidator(formControls.telefone)"
            formControlName="telefone"
            placeholder="(000) 90000-0000"
          >
          <div class="invalid-feedback">
            Required field.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            [ngClass]="validators.cssValidator(formControls.email)"
            formControlName="email"
            placeholder="e-mail"
          >
          <div *ngIf="formControls.email.errors?.required" class="invalid-feedback">
            Required field.
          </div>
          <div *ngIf="formControls.email.errors?.email" class="invalid-feedback">
            Invalid format.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="validators.cssValidator(formControls.imagemUrl)"
            formControlName="imagemUrl"
            placeholder=""
          >
          <div class="invalid-feedback">
            Required field.
          </div>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <div class="d-flex">
        <button
          class="btn btn-outline-primary mr-auto border"
          (click)="resetForm()"
        >
          Cancelar Alteração
        </button>
        <button
          class="btn btn-primary"
          [disabled]="!form.valid"
        >
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
  <ngx-spinner
    bdColor="rgba(0,0,0,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
  <p style="font-size: 20px; color: white">Carregando...</p>
  </ngx-spinner>
</div>
