<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <legend class="modal-title pull-left">
        <i class="fa fa-money-bill mr-3" aria-hidden="true"></i>
        Lotes
      </legend>
      <button
        class="btn-close close pull-right"
        (click)="bsModalRef?.hide()"
        aria-label="Close"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="col-lg-12">
      <div class="form-row p-1">
        <div class="col">
          <div>
            <form [formGroup]="formLotes">
              <div class="row">
                <div class="form-group col-md-12">
                  <label>Nome</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nome"
                    placeholder="Lote"
                    [ngClass]="formHelper.cssValidator(formLoteControls.nome)"
                  />
                  <div *ngIf="formLoteControls.nome.errors?.required" class="invalid-feedback">
                    Required field.
                  </div>

                  <div *ngIf="formLoteControls.nome.errors?.minlength" class="invalid-feedback">
                    Minimum length 4 caracters.
                  </div>

                  <div *ngIf="formLoteControls.nome.errors?.max" class="invalid-feedback">
                    Max length 100 caracters.
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Quantidade</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="quantidade"
                    placeholder="00000"
                    [ngClass]="formHelper.cssValidator(formLoteControls.quantidade)"
                  />
                  <div *ngIf="formLoteControls.quantidade.errors?.required" class="invalid-feedback">
                    Required field.
                  </div>

                  <div *ngIf="formLoteControls.quantidade.errors?.max" class="invalid-feedback">
                    Max length 99999 caracters.
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Preço</label>
                  <input
                    class="form-control"
                    formControlName="preco"
                    placeholder="R$ 0,00"
                    currencyMask
                    [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
                    [ngClass]="formHelper.cssValidator(formLoteControls.preco)"
                  />
                  <div *ngIf="formLoteControls.preco.errors?.required" class="invalid-feedback">
                    Required field.
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Data Início</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="dataInicio"
                    placeholder="01/01/2019"
                    [ngClass]="formHelper.cssValidator(formLoteControls.dataInicio)"
                    value="{{lote?.dataInicio | date:'short'}}"
                    bsDatepicker
                    [bsConfig]="{
                      adaptivePosition: true,
                      dateInputFormat: 'DD/MM/YYYY hh:mm a',
                      containerClass: 'dark-blue',
                      showWeekNumbers: false
                    }"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label>Data Fim</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="dataFim"
                    placeholder="01/03/2019"
                    [ngClass]="formHelper.cssValidator(formLoteControls.dataFim)"
                    value="{{lote?.dataFim | date:'short'}}"
                    bsDatepicker
                    [bsConfig]="{
                      adaptivePosition: true,
                      dateInputFormat: 'DD/MM/YYYY hh:mm a',
                      containerClass: 'dark-blue',
                      showWeekNumbers: false
                    }"
                  />
                </div>
                <div class="form-group col-md-4">
                </div>
              </div>
              <div class="col-lg=12 text-center">
                <button
                  class="btn btn-primary col-lg-3 m-1"
                  [disabled]="!formLotes.valid"
                  (click)="cadastrarAlterar()"
                  [disabled]="!formLotes.valid"
                >
                  {{ lote.id === undefined ? 'Cadastrar' : 'Alterar'}}
                </button>
                <button
                  class="btn btn-warning col-lg-3 m-1"
                  (click)="formHelper.resetForm(formLotes)"
                >
                  Limpar
                </button>
                <button
                  class="btn btn-danger col-lg-3 m-1"
                  (click)="deletar()"
                  [disabled]="lote.id === undefined"
                >
                Excluir
              </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
