<app-titulo titulo="Perfil"></app-titulo>

<div class="card shadow-sm">
  <form [formGroup]="form">
    <div class="row p-3">

      <div class="col-lg-6">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="form-group col-sm-6">
            <label>Primeiro Nome</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="validators.cssValidator(formControls.firstName)"
              formControlName="firstName"
              placeholder="Insira o Primeiro nome"
            />
            <div *ngIf="formControls.firstName.errors?.required" class="invalid-feedback">
              Required field.
            </div>
            <div *ngIf="formControls.firstName.errors?.minlength" class="invalid-feedback">
              Minimum length 4 caracters.
            </div>

            <div *ngIf="formControls.firstName.errors?.max" class="invalid-feedback">
              Max length 120000 caracters.
            </div>

          </div>
          <div class="form-group col-sm-6">
            <label>Último nome</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="validators.cssValidator(formControls.lastName)"
              formControlName="lastName"
              placeholder="Insira o Último nome"
            />
            <div *ngIf="formControls.lastName.errors?.required" class="invalid-feedback">
              Required field.
            </div>
            <div *ngIf="formControls.lastName.errors?.minlength" class="invalid-feedback">
              Minimum length 4 caracters.
            </div>

            <div *ngIf="formControls.lastName.errors?.max" class="invalid-feedback">
              Max length 120000 caracters.
            </div>

          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label>E-mail</label>
            <input
              class="form-control"
              [ngClass]="validators.cssValidator(formControls.email)"
              formControlName="email"
              type="text"
              placeholder="Insira o Nome Completo"
            />
            <div *ngIf="formControls.email.errors?.required" class="invalid-feedback">
              Required field.
            </div>
            <div *ngIf="formControls.email.errors?.email" class="invalid-feedback">
              Invalid format.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label>Usuario</label>
            <input
              class="form-control"
              [ngClass]="validators.cssValidator(formControls.userName)"
              formControlName="userName"
              type="text"
              placeholder="Insira o nome de Usuário"
            />
            <div *ngIf="formControls.userName.errors?.required" class="invalid-feedback">
              Required field.
            </div>
            <div *ngIf="formControls.userName.errors?.minlength" class="invalid-feedback">
              Minimum length 4 caracters.
            </div>
            <div *ngIf="formControls.userName.errors?.max" class="invalid-feedback">
              Max length 120000 caracters.
            </div>
          </div>
        </div>
        <div>
          <h3 class="p-3 border-bottom">Mudar Senha</h3>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            <label>Senha</label>
            <input
              class="form-control"
              [ngClass]="validators.cssValidator(formControls.password)"
              formControlName="password"
              type="password"
              placeholder="Digite uma Senha"
            />
            <div *ngIf="formControls.password.errors?.required" class="invalid-feedback">
              Required field.
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Confirmar Senha</label>
            <input
              class="form-control"
              [ngClass]="validators.cssValidator(formControls.confirmPassword)"
              formControlName="confirmPassword"
              type="password"
              placeholder="Confirme a Senha"
            />
            <div *ngIf="formControls.confirmPassword.errors?.required" class="invalid-feedback">
              Required field.
            </div>
            <div *ngIf="formControls.confirmPassword.errors?.mustMatch" class="invalid-feedback">
              Passwords aren't equals.
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-md-none d-lg-block">
          <img
            src="../../../../assets/undraw_Profile_re_4a55.svg"
            class="my-4 p-2"
            alt=""
            height="350px"
            width="350px"
          >
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button
          class="btn btn-outline-primary mr-auto border"
          (click)="resetForm()"
        >
          Cancelar Alteração
        </button>
        <button
          class="btn btn-primary"
          [disabled]="!form.valid"
        >
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>
